/* Container and Row Settings */
.container {
	@include make-container();
	@include make-container-max-widths();
	& + & { margin-top: 35px; }
}

.row {
	@include make-row();
	@include make-grid-columns-custom(12);
	
	> * {
		padding-right: ($grid-gutter-width / 2);
		padding-left: ($grid-gutter-width / 2);
	}
}

.row-no-gutter {
	margin-right: 0;
	margin-left: 0;
}

/** Row spacing */
.row-0 {
	@include grid-offset(0px);
}

.row-15 {
	@include grid-offset(15px);
}

.row-20 {
	@include grid-offset(20px);
}

.row-25 {
	@include grid-offset(20px);
}

.row-30 {
	@include grid-offset(30px);
}

.row-35 {
	@include grid-offset(35px);
}

.row-50 {
	@include grid-offset(50px);
}
//Bordered items
.row{
	.bordered-item{
		position: relative;
		padding: 34px 42px;
		
	}
	.bordered-item + .bordered-item{
		&:before{
			content: '';
			position: absolute;
			top: 0px;
			right: 42px;
			left: 42px;
			height: 1px;
			background-color: #dbdbdb;
		}
		@include media-breakpoint-up(md) {
			&:before{
				content: '';
				position: absolute;
				left: 0;
				right: auto;
				top: 34px;
				bottom: 34px;
				width: 1px;
				height: auto;
				background-color: #dbdbdb;
			}
		}
		
	}
	
	
}
