/** @section Buttons */

// Button General Styles
.button {
	position: relative;
	overflow: hidden;
	display: inline-block;
	font-family: $font-base;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	transition: 250ms all ease-in-out;
	min-height: 49px;
	padding: 0 10px;
	border: none;
	
	> * {
		pointer-events: none;
	}
}

.button-block {
	display: block;
	width: 100%;
}


// Bootstrap buttons
.button-primary {
	display: inline-flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: #ff8900;
	color: $white;
	
	&:before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 0;
		bottom: 0;
		background-image: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
		transition: linear .15s;
		pointer-events: none;
	}
	
	&:hover {
		color: $white;
		
		&:before {
			height: 100%;
			transition: linear .15s;
		}
	}
	
	> * {
		position: relative;
		z-index: 2;
	}
}


.button-sm {
	font-size: 12px;
}


.button-icon,.button-icon-xl {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	> * {
		display: inline-block;
		margin-left: 6px;
		margin-right: 6px;
	}
	&-xl{
		> * {
			display: inline-block;
			margin-left: 8px;
			margin-right: 8px;
		}
	}
}

.button-gray{
	background-color: $gray-400;
	color: $white;
	&:hover{
		background-color: $primary;
		color: $white;
	}
}

.button-facebook{
	background-color: $blue;
	color: $white;
}


.button-fb{
	background-color: $blue;
}

.button-tw{
	background-color: $blue-light;
}

.button-gl{
	background-color: $red;
}

.button-fb,
.button-tw,
.button-gl{
	font-size: 14px;
	color: $white;
	text-transform: none;
	&:hover{
		color: $white;
		opacity: .8;
	}
}

.button-red{
	background-color: #ff4800;
	color: $white;
	&:hover{
		background-color: $primary;
	}
}

.button-gradient {
	display: inline-flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: $white;
	background-image: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
	&:before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 0;
		bottom: 0;
		background-color: #ff8900;
		transition: linear .15s;
		pointer-events: none;
	}
	&:hover {
		color: $white;
		&:before {
			height: 100%;
			transition: linear .15s;
		}
	}
	
	> * {
		position: relative;
		z-index: 2;
	}
}