.select {
	position: relative;
	text-align-last: left;
	
}

.select__current {
	width: 100%;
	padding: 8px 35px 8px 15px;
	position: relative;
	cursor: pointer;
	background-color: $white;
	min-height: 40px;
	border: 1px solid #ffffff;
	color: #9c9c9c;
	font-size: 14px;
	&:before{
		content: '';
		position: absolute;
		bottom: -3px;
		height: 1px;
		background-color: #f5f5f5;
		width: 100%;
		left: 0;
	}
}

.select__current::after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 3.5px 0 3.5px;
	border-color: #ff8500 transparent transparent transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 26px;
	transition: .3s ease-out all;
}

.select__list {
	width: 100%;
	position: absolute;
	top: 100%;
	overflow: hidden;
	border: 1px solid #ccc;
	margin-top: 5px;
	border-radius: 3px;
	display: none;
}

.select__list--show {
	display: block;
	z-index: 20;
}

.select__item {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border: none;
	display: inline-block;
	width: 100%;
}

.select__item:hover, .select__item:focus {
	background-color: #e6e6e6;
}